.cta {
  align-items: center;
  border-radius: 1rem;
  background: var(--gradient-bar);
  color: var(--color-subtext);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 4rem;
  padding: 2rem;
}

.cta-content p {
  color: var(--color-subtext);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.cta-content h3 {
  color: var(--color-text);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
}

.cta-btn {
  align-items: center;
  color: var(--color-text);
  display: flex;
  justify-content: center;
  margin-left: 2rem;
}

.cta-btn button {
  background: var(--color-bg);
  border-radius: 40px;
  border: none;
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  min-width: 150px;
  outline: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

@media screen and (max-width: 850px) {
  .cta {
    margin: 2rem 2rem;
  }
}

@media screen and (max-width: 650px) {
  .cta {
    flex-direction: column;
  }

  .cta-btn {
    margin: 2rem 0 0;
  }
}

@media screen and (max-width: 550px) {
  .cta {
    margin: 2rem 2rem;
  }

  .cta-content h3 {
    font-size: 28px;
    line-height: 34px;
  }

  .cta-btn button {
    font-size: 18px;
    line-height: 24px;
  }
}
