.features-container__feature {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem;
  width: 100%;
}

.features-container__feature-title {
  color: var(--color-text);
  flex: 1;
  font-family: var(--font-family);
  font-size: 36px;
  font-weight: 800;
  letter-spacing: -0.04em;
  line-height: 56px;
  margin-right: 2rem;
  max-width: 4000px;
}

.features-container__feature-title div {
  background: var(--color-bg);
  box-shadow: 0 4px 4px rgba(2, 9, 46);
  height: 3px;
  margin-bottom: 0.25rem;
  width: 38px;
}

.features-container_feature-text {
  color: var(--color-bg);
  display: flex;
  flex: 2;
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  max-width: 390px;
}


@media screen and (max-width: 1000px) {
  .features-container__feature {
    flex-direction: column;
  }
  .features-container__feature-title h1 {
    font-size: 28px;
    line-height: 34px;
  }
  .features-container_feature-text {
    font-size: 18px;
    line-height: 24px;
    padding-top: 1rem;
  }
  .features-container__feature {
    margin: 1rem 0;
  }
}

@media screen and (max-width: 650px) {
  .features-container__feature {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem;
    width: 100%;
  }
  .features-container__feature-title h1 {
    font-size: 24px;
    line-height: 30px;
  }
  .features-container_feature-text {
    font-size: 14px;
    line-height: 20px;
    padding-top: 1rem;
  }
  .features-container__feature {
    margin: 1rem 0;
  }
}
