.testimonials {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.testimonials-heading {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  margin-right: 3rem;
  max-width: 600px;
  text-align: left;
}

.testimonials-heading h1 {
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: 34px;
  font-weight: 800;
  letter-spacing: -0.04em;
  line-height: 45px;
  max-width: 600px;
}

.testimonials-heading p {
  color: var(--color-text);
  cursor: pointer;
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.testimonials-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials-image img {
  max-height: 100%;
  max-width: 400px;
}

.testimonials-container {
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1000px;
  width: 1000px;
}

@media screen and (max-width: 1350px) {
  .testimonials {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .testimonials-container {
    flex: 2;
    flex-direction: column;
  }
  .testimonials-heading {
    flex: 1;
    flex-direction: column;
    width: 100%;
  }
  .testimonials-title {
    font-size: 28px;
    line-height: 34px;
  }
  .testimonials-text {
    font-size: 18px;
    line-height: 24px;
  }
  .testimonials-image img {
    max-height: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .testimonials {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .testimonials-heading {
    flex: 1;
    flex-direction: column;
  }
  .testimonials-title {
    font-size: 28px;
    line-height: 34px;
  }
  .testimonials-text {
    font-size: 18px;
    line-height: 24px;
  }
  .testimonials-container {
    flex: 2;
    flex-direction: column;
  }
}

@media screen and (max-width: 650px) {
  .testimonials-heading {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem;
    width: 100%;  
  }
  .testimonials-heading h1{
    font-size: 24px;
    line-height: 30px;
  }
  .testimonials-heading p {
    font-size: 14px;
    line-height: 20px;
  }
  .testimonials-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem;
    width: 100%;
  }

}
