.blog {
  display: flex;
  flex-direction: column;
}

.blog-heading {
  margin-bottom: 5rem;
  text-align: left;
  width: 100%;
}

.blog-heading h1 {
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: 62px;
  font-weight: 800;
  letter-spacing: -0.04em;
  line-height: 75px;
}

.blog-container {
  display: flex;
  flex-direction: row;
}

.blog-container_groupA {
  flex: 0.75;
  margin-right: 2rem;
}

.blog-container_groupB {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

@media screen and (max-width: 1000px) {
  .blog-container {
    flex-direction: column-reverse;
  }

  .blog-container_groupA {
    margin: 2rem 0;
  }

  .blog-container_groupA .blog-container_article {
    width: 48%;
  }

  .blog-container_groupA .blog-container_article-image {
    height: 250px;
  }
}

@media screen and (max-width: 850px) {
  .blog-container_groupB {
    grid-template-columns: repeat(1, 1fr);
  }

  .blog-container_groupA .blog-container_article{
    width: 100%;
}
    .blog-heading h1 {
        font-size: 46px;
        line-height: 52px;
    }
}

@media screen and (max-width: 650px) {
    .blog-container_groupB {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .blog-container_groupA .blog-container_article{
      width: 100%;
  }
      .blog-heading h1 {
          font-size: 34px;
          line-height: 46px;
      }
  }